<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.takkaproductions.takkateam"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->
    <preference name="phonegap-version" value="2.7.0" />
    <gap:splash src="splash.png" />
    <preference name="splash-screen-duration" value="10000" />
    <icon src="icon.png" />
    <name>Takka Team</name>

    <description>
        Meet the takka team
    </description>

    <author href="http://www.takkaproducitons.co.uk" email="pete.cleary@gmail.com">
        Pete Cleary
    </author>

</widget>
